<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Processing</title>
</head>
<body>

<h2> Processing... </h2>

<p> It will take about &sim;10s per 1000 hits generated. Once this is done the binary file &quot;packets.bin&quot; (containing the encoded 48-bit packets) and the csv file &quot;values.csv&quot; (containing the decoded pixel counter and timing values) will be combined into a zip file and dwonload automatically.</p>

</body>
